.main{
    height: 245px;
    border: 4px solid black;
    border-radius: 10px;
    background: url('https://images.unsplash.com/photo-1690983178068-eb0ac76ef0b1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2211&q=80');
    background-position: center; 
    background-size: cover ;
    z-index: 10;
}
.left{
    /* display: none; */
    z-index: 109;
    width: 50%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 5px 0 0 5px  ;
}
.left p{
    margin: 0;
    font-size: 1.5rem;
    padding-top: 20%;
    padding-left: 15%;
    font-weight: bold;
    margin-bottom: 10%;

}
.left ul{

    list-style: none;
    padding-left: 0;

    margin: auto;
}
.left ul li{
    padding-top: 11%;
    padding: 10px;
    font-weight: bold;
    width: 80%;
    margin-left: 3%;
    margin-bottom: 2%;
}

.left ul li .text{
    width: 80%;
    display: inline-block;
}
.symbol{
    color: whitesmoke;
}

.full{
    width: 100%;
    height: 245px;
    margin-top: 0;
    border-radius: 10px;
    text-align: center;
    background: url('https://images.unsplash.com/photo-1690983178068-eb0ac76ef0b1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2211&q=80');
    background-position: center; 
    background-size: cover ;
    z-index: 10;
}
.full p{
    margin-top: 0;
}
.full img{
    margin-top: 20%;
    width: 100px;
}
.full span{
    display: inline-block;
    margin-top: 30%;
    font-size: 2rem;
    font-weight: bold;

}
.full-func{
    background-color: whitesmoke;
    height: 245px;
    border-radius: 7px;
}
#music{
    height: 70%;
    padding: 10px;
}
#music img{
    float: left;
    width: 100px;
}
#music span{
    display: inline-block;
    margin-top: 20%;
    margin-right: 70px;
    font-weight:600;
    font-size: 18px;
}
#music-time{
    width: 80%;
    height: 10px;
    margin-top: 5px;
    background-color: gray;
    border-radius: 5px;
}
#music-timeline{
    display: flex;
    margin: auto;
    width: 90%;
}